* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(26,26,26);
    font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .btn {
    margin: 10px;
    padding: 10px;
    letter-spacing: 1px;
    border: 2px solid #566273;
    border-radius: 20px;
    width: 140px;
    color: white;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login .btn {
    font-size: 1.2rem;
  }
  
  .main {
    width: 90%;
    margin: 2rem auto;
  }
  
  .form-control {
    font-size: 1.2rem;
  }
  
  .main-heading {
    margin: 2rem 0;
  }
  
  .hide {
    display: none;
  }
  
  .active {
    border: 2px solid #566273;
    border-radius: 20px;
    width: 140px;
    color: white;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10%;
    font-size: 150%;
  }
  
  .load-more {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    border-radius: 20px;
    color: white;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    border: 2px solid white;
  }
  
  .load-more:hover {
    border: 2px solid black;
    color: black;
    background-color: white;
    cursor: pointer;
  }
  
  #loader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    );
  }
  
  .message {
    position: relative;
    font-size: 150%;
    top: 50%;
    left: 50%;
    transform: translateX(-10%);
    color: #fff;
    letter-spacing: 1px;
  }
  
  .loader-open {
    overflow: hidden;
  }
  
  .errorMsg {
    color: #f21e08;
    background: #fff0f0;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .search-buttons {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .search-buttons .btn:focus {
    /* box-shadow: none; */
  }
  
  .albums,
  .artists,
  .playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 1rem;
    box-shadow: 0 2px 7px 3px #949ca5;
  }
  
  .card .card-image-link {
    padding: 1rem;
    text-align: center;
  }
  
  .card img {
    max-width: 250px;
    height: 250px;
  }

  .img-cover {
    max-width: 100px;
    height: 50px;
  }

  .spotify-title {
    color: white;
  }

  .spotify-login-button {
    padding: 5px 30px 5px 30px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(65,214,96);
    color: white;
  }

  .spotify-login-button:hover {
    background-color: rgb(90,242,121);
  }

  .loading-text {
    color: white;
  }

  .not-found {
    color: white;
  }
  
  @media screen and (max-width: 400px) {
    .search-buttons {
      flex-direction: column;
    }
    .search-buttons .btn {
      margin: 0.6rem;
    }
    .card img {
      height: auto;
    }
    .main-heading {
      text-align: center;
    }
  }
  